<div>
  <div class="gallery" *ngIf="!showBigImg">
    <div class="gallery" *ngFor='let image of galleryService.images'>
      <img src={{image.data_small}} attr.data-large={{image.data_big}} attr.data-dbid={{image.id}} alt={{image.desc}} (click)="toggleBigImage($event,true)"/>
    </div>
  </div>
</div>
<div id="displayDIV" *ngIf="showBigImg">
  <div id="rowFlexDiv">
    <img class="bigIMG" src={{bigImgSrc}} attr.data-dbid={{bigImgId}} (click)="toggleBigImage($event,false)"/>
    <div id="information">
      <p class="desc">{{desc}}</p>
      <p class="tags"></p>
      <h3>Comments:</h3>
      <p class="comments">      <input #comment id="comment" class="form-control" placeholder="Write a comment">      </p>
      <h3>Rating:</h3>
      <star-rating value="5" totalstars="5" checkedcolor="gold" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating>
      <button id="addFavBtn">Add to favorites</button>

    </div>
  </div>
    <div id="buttons">
      <button mdbBtn color="info" mdbWavesEffect (click)="jump(-1)">prev</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="togglePlay()">play/pause</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="toggleBigImage($event,false)">exit</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="updateDescription()">update</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="jump(+1)">next</button>
    </div>
</div>
