<div>
  <div class="gallery" *ngIf="!showBigImg">
    <div class="gallery" *ngFor='let image of galleryService.images'>
      <img src={{image.data_small}} attr.data-large={{image.data_big}} attr.data-dbid={{image.id}} alt={{image.desc}} (click)="toggleBigImage($event,true)"/>
    </div>
  </div>
</div>
<div id="displayDIV" *ngIf="showBigImg">
  <div id="rowFlexDiv">
    <img class="bigIMG" src={{bigImgSrc}} attr.data-dbid={{bigImgId}} (click)="toggleBigImage($event,false)"/>
    <div id="information">
      <p class="desc">{{desc}}</p>
      <div id="tags" class="tags">
        <span *ngFor="let tag of galleryService.tags">{{tag}} </span>
      </div>
      <h3>Comments:</h3>
      <div id="comments" class="comments">
        <p id="singleComment" *ngFor="let comment of galleryService.comments" >{{comment}} </p>
      </div>
        <input #comment id="comment" class="form-control" placeholder="Write a comment">
      <form [formGroup]="commentForm">
        <button  id="btncomment" class="btn btn-primary" (click)="onComment(comment, getCurrentImgIdx()+1)">Comment</button>
      </form>

      <h3>Rating:</h3>
      <star-rating value="5" totalstars="5" checkedcolor="gold" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event, getCurrentImgIdx()+1)"></star-rating>
      <h4>Average rating:</h4>
      <h1 *ngFor="let rating of galleryService.rating">{{rating}} </h1>
      <button id="addFavBtn" mdbWavesEffect (click)="uploadImage(getCurrentImgIdx()+1)">Add to favorites</button>
    </div>
  </div>
    <div id="buttons">
      <button mdbBtn color="info" mdbWavesEffect (click)="jump(-1)">prev</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="togglePlay()">play/pause</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="toggleBigImage($event,false)">exit</button>
      <button mdbBtn color="info" mdbWavesEffect (click)="jump(+1)">next</button>
    </div>
</div>
