<!--
<div>
  <h1>{{greeting}}</h1>
  <button *ngIf="loggedIn" (click)="logout()">Logout</button>
</div>
<div *ngIf="!loggedIn">
-->
<form [formGroup]="loginForm">
  <!-- this div is just for debugging purpose -->
  <div id="displayFormValues">
    Value: {{loginForm.value | json}}
  </div>
  <div  class="form-group">
    <label for="email"><b>Email</b></label>
    <input #emailField id="email" class="form-control" type="email" formControlName="email" email="true" required>
  </div>
  <div class="form-group">
    <label for="password"><b>Password</b></label>
    <input #passwordField id="password" class="form-control" type="password" formControlName="password" required>
  </div>
  <button class="btn btn-primary" (click)="login()" routerLink="/gallery" routerLinkActive="active">Login</button>
  <div id="loginMessage">{{loginMessage}}</div>
</form>

